@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

.bd-grid {
    max-width: 1024px;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: 100%;
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

@media screen and (min-width: 1024px) {
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
}

.skills__icon__HTML5 {
    color: #e34c26;
}

.skills__icon__CSS3 {
    color: #0081D5;
}

.skills__icon__PHP {
    color: #787cb5;
}

.skills__HTML5 {
    background-color: #e34c26;
}

.skills__CSS3 {
    background-color: #0081D5;
}

.skills__PHP {
    background-color: #787cb5;
}

.dot__title::before {
    content: " ";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #004366;
    background-color: #0081D5;
    border-radius: 50%;margin-top: 4px;
    left: 0;
    z-index: 1;
}

/* Styles pour l'élément d'entrée (input et textarea) */
.input-field {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #e5e7eb; /* Couleur de la bordure par défaut */
    border-radius: 0.375rem; /* Rayon des bords arrondis */
    transition: border-color 0.3s ease;
    font-size: 1rem;
    line-height: 1.5;
}

.input-field:focus {
    border-color: #2563eb; /* Couleur de la bordure lorsqu'il est en focus */
    outline: 0;
}

/* Styles pour les informations sur le fichier */
.file-info {
    margin-top: 0.75rem; /* Espace au-dessus de l'info de fichier */
}

/* Styles pour l'aperçu d'image (le cas échéant) */
.file-preview {
    margin-top: 0.75rem; /* Espace au-dessus de l'aperçu de l'image */
    max-width: 100%; /* Largeur maximale de l'image prévisualisée */
    max-height: 12rem; /* Hauteur maximale de l'image prévisualisée */
}

/* Styles pour les messages d'erreur */
.error-message {
    margin-top: 0.75rem; /* Espace au-dessus du message d'erreur */
    border-color: #dc2626; /* Couleur de la bordure en cas d'erreur */
    background-color: #fed7d7; /* Couleur d'arrière-plan en cas d'erreur */
    color: #e31c3d; /* Couleur du texte en cas d'erreur */
}
