@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

.bd-grid {
    max-width: 1024px;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: 100%;
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

@media screen and (min-width: 1024px) {
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
}

.skills__icon__HTML5 {
    color: #e34c26;
}

.skills__icon__CSS3 {
    color: #0081D5;
}

.skills__icon__PHP {
    color: #787cb5;
}

.skill__HTML5 {
    background-color: #e34c26;
}

.skill__CSS3 {
    background-color: #0081D5;
}

.skill__PHP {
    background-color: #787cb5;
}